.container {
    max-width: 64em;
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
}

img {
    width: 100%;
    margin: 0 auto;
}

.txtContador {
    color: red;
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: bold;
    text-align: center;
}

.container-gato {
    width: 300px;
    margin: 10px;
}

.ocultar {
  display:none;  
}

#lista-gatos {
    list-style: none;
}

#lista-gatos li {
    cursor: pointer;
    background: #ccc;
    width: 31%;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    color: #3e3b3b;
    display: inline-block
}

#admin-button {
    height: 50px;
    margin-left: 4em;
    margin-bottom: 2em;
    display: block;
    width: 33%;
}

#admin-section {
    background: #ccc;
    padding: 1em 4em;
}
